.cartWidget img{
    width: 35px;
    right: 0;
    align-self: center;
    justify-self: center;
    padding-top: 5px;
    z-index: 1;

}
.cartWidget p{
    font-weight: bolder;
    font-size: 0.75rem;
    position:absolute;
    color: black;
    border-radius: 5px;
    background-color: red;
    z-index: 2;
    margin-bottom: 5px;
    padding: 2px;
    right: 0;
    top: 0;
}
.cartWidget{
    right: 0;
    position: absolute;
    border-radius: 20;
    align-self: center;
    justify-self: center;
    margin-right: 1rem;
    background-color: black;
}