.Item img{

    width: 20rem;
    margin-bottom: 1rem;
}
.Item{
    padding: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.342);
    box-shadow: 00px 0px 10px 1px;
    margin: 1.5rem;
}
a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 5px;
}

.show{
    opacity: 1;
}
.hide{
    opacity: 0;
}

@media screen and (max-width: 950px) {

    .Item img{
        width: 80%;

    }
}
