.ItemList{

    display: flex;
    flex-direction: row;
    align-self: center;
    align-content: center;
    justify-content: center;
}

@media screen and (max-width: 950px) {

    .ItemList {
        flex-direction: column;
        width: 40rem;
        margin: auto;
    }
}
