.counterContainer{
    margin: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 10rem;
    align-content: center;
    justify-content: center;
    padding-bottom: 1rem;
    border-radius: 20px;

}

.count{
    font-size: 20px;


}
.count span{

    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}
.addToCart {
    width: 9rem;
    align-self: center;

}
button {
    background: #000000;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
  }